@mixin themable($theme-name,
  $bg-color1,
  $bg-color2,
  $text-color1,
  $text-color2,
  $button-bg) {
  .#{$theme-name} {
  
    .theme--light.v-tabs>.v-tabs-bar {
         background-color: $bg-color1 ;
          color: $text-color1;
      }
      .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active){
         color: $text-color2 ;
      }
      
      
    .theme--light.v-btn.v-btn--has-bg {
       background-color: $bg-color1;
       color: $text-color1;

    }
   
}}

@include themable(dark, #20201f, #6d6d6d, #fdfdfd, rgb(255, 255, 255), #ffffff);
@include themable(light, #fdfdfd, #c5c5c5, #6b6b6b, rgb(20, 12, 12), #000000);
@include themable(primary, #002ca5, #000277, #a7b0ff, rgb(61, 107, 206), #0f73ad);
