<template>
  <!-- 'ligt' & 'dark' & 'primary' theme -->
  <v-app>
    <div class="dark">
      <v-tabs fixed-tabs class="cont">
        <v-tab> Option </v-tab>
        <v-tab> Another Selection </v-tab>
        <v-tab> Items </v-tab>
        <v-tab> Another Screen </v-tab>
      </v-tabs>
      <v-card class="mx-auto mt-5" max-width="400">
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <v-card-title>Top 10 Australian beaches</v-card-title>
        </v-img>

        <v-card-subtitle class="pb-0"> Number 10 </v-card-subtitle>

        <v-card-text class="text--primary">
          <div>Whitehaven Beach</div>

          <div>Whitsunday Island, Whitsunday Islands</div>
        </v-card-text>

        <v-card-actions>
          <v-btn class="but" rounded> Share </v-btn>

          <v-btn rounded> Explore </v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
<style scoped>
</style>


